<div class="flex flex-wrap ">

    <div class="w-9/12 ">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="images/slider-image-1.jpeg" class="h-[500px] min-w-[300px] hover:scale-105 transition-all duration-500" alt="Slide 1"></ng-template>  
            <ng-template carouselSlide><img src="images/slider-image-2.jpeg" class="h-[500px] min-w-[300px] hover:scale-105 transition-all duration-500" alt="Slide 2"></ng-template>  
            <ng-template carouselSlide><img src="images/slider-image-3.jpeg" class="h-[500px] min-w-[300px] hover:scale-105 transition-all duration-500" alt="Slide 3"></ng-template>  
        </owl-carousel-o>
    </div>    
    <div class="w-3/12">
        <img src="images/grocery-banner.png" class="h-[250px] hover:scale-105 transition-all duration-500" alt="">
        <img src="images/grocery-banner.png" class="h-[250px] hover:scale-105 transition-all duration-500" alt="">
    </div>
</div>
